/* title */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

nav{
    height: 110px;;
 }

 .left{
     float: left;
 }


li a{
    color: #FFB400;
    font-size: 20px;
}

/* location */

.carre-title h1{
    margin-top: 50px;
    margin-bottom: 30px;
}

.carre-title a{
   margin: 15px;
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 7mm;
}

.carre-photo img{
    margin-top: 50px;
    margin-bottom: 100px;
}



/* Questions */
.body{
    background-color: #303030;
    padding-bottom: 150px;
    padding-top: 100px;
    color:white;
}


.left{
    text-align: left;
    width: 600px;
    margin-left: 220px;
    margin-right: 150px;
}

.body .left label{
    margin-top: 10px;
}



.btn{
    font-size: 14px;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    border: 0px;
    display: inline-block;
    background-color: #FFB400;
    color: white;
}

.btn:hover{
    background-color: #0275d8;
    color: white;
}

.message .btn{
    font-size: 14px;
font-weight: 700;
padding: 10px 35px;
border-radius: 30px;
cursor: pointer;
border: 0px;
display: inline-block;
background-color: #FFB400;
color: white;
}

.message .btn:hover{
    background-color: red;
    color: white;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background-color: #FFB400;
}


















































































































































































































































































