*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 

 a{
     text-decoration: none;
 }
 
 /*menu*/

 li a{
    color: #FFB400;
    font-size: 18px;
}

.nav .btn{
    font-size: 12px;
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 30px;
    cursor: pointer;
    border: 0px;
    display: inline-block;
    background-color: #FFB400;
    color: white;
  }
  
  .nav .btn:hover{
    background-color: #0275d8;
    color: white;
  }     


 
/*contenu France*/
.CAFE{
    background-image: url(france.jpg);
    height: 750px;
    background-size: cover;
    text-align: center;
}
 
.cafe-content{
    max-width: 600px;
    color: white;
    padding-top: 150px;
    margin: auto;
}
 
.cafe-content h1{
    font-size: 50px;
}
 
.cafe-content p{
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.9em;
}
 
.CAFE .cafe-content .btn{
    font-size: 14px;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 30px;
    cursor: pointer;
    border: 0px;
    display: inline-block;
    color: white;
    background-color: #FFB400;

}
 
.CAFE .cafe-content .btn:hover{
    background-color: #0275d8;
    color: white;
}
 
 
/* hylink external*/
section h1{
    margin-left: 10px;
    padding-top: 50px;
}

.container-fluid{
    height: 200px;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 100px;
}

.img-fluid{
    height: 300px;
}

.col-4 h6{
    padding-top: 25px;
    
}

 

 
.textes{
    padding: 100px;
}

.footer{
   padding-top: 20px;
   padding-bottom: 20px;
   color: white;
   text-align: center;
   background-color: #FFB400;
}
 
 

     











































































