.window {
    height: 60px;
    width: 20%;
    background-color: aqua;
    

}

.door {
    height: 80px;
    width: 20%;
    background-color: brown;
    
}

.building {
    border: 2px solid;
    background-color: lightgrey;
}

.ground {
    background-color: green;
    height: 60px;
}
