.h1{
    background-color: brown;
    text-align: center;
    color: yellow;
}

.h3{
    background-color:yellow;
    text-align:left;
    color: brown;
}


.p1,.p3 {
    text-align: right;
}

.p2 {
    text-align: left;
}
