/* title */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


 .left{
     float: left;
 }


li a{
    color: #FFB400;
    font-size: 18px;
}



/* <!-- background photo --> */

.fond{
    background:url("/img/plage.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
}

.container h2{
   font-size: 5em;
   color: white;
}

.container h3{
    font-size: 4em;
    color: #FFB400;
 }

 .container p{
    font-size: 1.5em;
    color: white;
 }



/* Nos derniers deals */

section h1{
    margin-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-fluid{
    text-align: center;
    margin-bottom: 100px;
}

/*Nos Meilleures Offres photos*/
.img-fluid{
    height: 300px;
}

.col-4 h6{
    padding-top: 25px;
    
}

/* middle photo */
.nouveaute-fluid{
    background-color: #0275d8;
    text-align: left;
}

.nouveaute-fluid .row{
    display: flex;
    flex-wrap: wrap;    
    padding-right: 100px;
}

.fluidPhoto{
    width: 50%;
}





.nouveau-left-fluid .img-fluid{
 max-width: 100%;
    
}

.nouveau-right-fluid{
    float: left;
    width: 50%;
    color: white;
    padding-top: 50px;
    padding-left: 50px;
}

.nouveau-right li{
    text-indent: 15px;
}




/* commentaire  */

.carre{
    background-color: #0275d8;
    margin: 25px;
    padding: 80px;
    color: white;
    border-radius: 0 50px 0 50px}

.carreR{
   float: right;
   margin-left: 50px;
   margin-bottom: 20px;
    margin-top: -50px;
   text-align: left;
   color: white;
}

.carreL{
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: -50px;
    text-align: left;
    color: white;
 }

 .carreR .carreL p{
     padding-bottom: 20px;
 }



.p1, .p2,.p3 {
    text-align: left;
}




.btn{
    font-size: 12px;
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 30px;
    cursor: pointer;
    border: 0px;
    display: inline-block;
    background-color: #FFB400;
    color: white;
}

.btn:hover{
    background-color: #0275d8;
    color: white;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background-color: #FFB400;
}

/*Media queries FOR MOBILE*/
@media screen and (max-width : 600px){
    .nouveaute-fluid .row{
        padding-right: 0%;
    }

    .fluidPhoto{
        width: 100%;
    }

    .nouveau-right-fluid{
        width: 100%;
        padding-right: 30px;
       
    }    
    .container-fluid .row{
        width: 100%;
        display: block;
        justify-content: center;
        margin: 0%;
    }  
    .col-4{
        max-width: 100%;
    }
}



/*MODAL**********************************/
.modal-container{
    display: none;
    height: 100vh;/*Couvre toute la page*/
    width: 100%;/*Couvre toute la page*/
    position: fixed;/*Se place au-dessus*/
    top: 0;
    left: 0;
    background-color: rgba(136, 222, 136, 0.8);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 999999;
  }
  .modal-details{
    background-color: white;
    width: 50%;
    text-align: center;
    position: relative;/*Pour positionner l'icône*/
    padding: 3rem;
    color:  #1E2337;
  }
  .modal-details i{
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 2rem;
    padding: 1rem;
    color: grey;
  }
  /*LE TITRE*/
  .modal-titre{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  /*LE CODE*/
  .code{
    display: none;
    background-color: black;
    color: white;
    font-family:monospace;
    padding: 1rem;
  }
  /*LE BOUTON*/
  .btn-success{
    height: 4rem;
    background-color: rgb(231, 171, 61);
    color: white;
    padding: 1rem;
    border: none;
    width: 100%;/*pleine largeur*/
  }
  
  

.banniere-titre{
    margin-bottom: 1rem;
}
#form{
    display: flex;
    align-items:center;
}
.field{
    margin: 1rem;
}

.field select, input[type=date]{
    height: 6rem;
    width: 20rem;
    font-family: arial;
}
button{
    width: 4rem;
    height: 4rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #e1a026;
    color: white;
}

.liste-resultats{
    display: flex;
}

.item{
    flex: 1;
    background-color: rgba(255, 255, 255, 0.724);
    color: black;
    margin: 2rem;
    padding: 2rem;
    border-radius: 5px;
}
.item-pays{
    font-weight: bold;
    text-transform: uppercase;
}


@media screen and (max-width : 992px) and (min-width : 600px){  

        .nouveaute-fluid .row{
            padding-right: 0%;
        }
    
        .fluidPhoto{
            width: 100%;
        }
    
        .nouveau-right-fluid{
            width: 100%;
            padding-right: 30px;
           
        }    
        .container-fluid .row{
            width: 100%;
            display: block;
            justify-content: center;
            margin: 0%;
        }  
        .col-4{
            max-width: 100%;
        }
} 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
















































































































































