*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
 
a{
   text-decoration: none;
}
 
 
li a{
  color: #FFB400;
  font-size: 18px;
}
 
.nav .btn{
  font-size: 12px;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 30px;
  cursor: pointer;
  border: 0px;
  display: inline-block;
  background-color: #FFB400;
  color: white;
}

.nav .btn:hover{
  background-color: #0275d8;
  color: white;
}     

/* promotion fixed */

.carre{
  width:100px; 
  height:100px;
  background-color: #FFB400;
  border-radius: 5px 40px 5px;
  text-align: center center;
  margin-bottom: 50px ;
  display: inline-block;
  color: white;
  padding-top: 20px;
}


#fixe {
  position: fixed;
  text-align: center center;
  top: 150px;
  left: 900px;
}

/* carousel slide */
.carousel{
  position:relative;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-inner {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  height: 100%;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}



.carousel-control-prev {
  left: 0;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}
    
/* pourquoi */
.nouveaute{
padding-top: 100px;
}

.container{
  background-color: #0275d8;
  padding-bottom: 100px;
  padding-top: 80px;
  color:white;
  text-align: center;
}

.container .row{
  margin: 50px;
  text-align: center;
}

.container .row h1{
  font-size: 4em;
}

.container .row .col img{
  margin-bottom: 20px;
}




/* MOODBOARD */
.moodboard .container{
  background-color: white;
  padding-bottom: 100px;
  padding-top: 50px;
}


.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background-color: #FFB400;
}


















































 
 
 
 
 
 
 
 


 
 
 
 
 

 
 
 