/* title */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

nav{
    height: 110px;;
 }

 .left{
     float: left;
 }


li a{
    color: white;
    font-size: 20px;
}

/* <!-- background photo --> */

.fond{
    background:url("plage.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
}

.container h2{
   font-size: 5em;
   color: white;
}

.container h3{
    font-size: 4em;
    color: #FFB400;
 }

 .container p{
    font-size: 1.5em;
    color: white;
 }



/* Nos derniers deals */

section h1{
    margin-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-fluid{
    height: 200px;
    text-align: center;
}

.img-fluid{
    height: 400px;
}

.col-4 h6{
    padding-top: 25px;
    
}

/* middle photo */
.nouveaute{
    overflow: auto;
    padding: 100px 0;
    padding-top: 400px;
    text-align: left;
}

.photo{
   max-width: 2000px;
   margin: auto;
   display: auto;
}

.nouveau-left{
    float: left;
    width: 50%;
    background-color: #303030;
}

.nouveau-right{
    float: left;
    width: 50%;
    background-color: #303030;
    color: white;
    padding: 35px;
    padding-bottom: 18px;
}

/* commentaire  */

.carre{
    background-color:wheat;
    margin: 25px;
    padding: 120px;
}

.carre1{
   float: right;
   margin-left: 50px;
   margin-bottom: 20px;
   margin-top: -20px;
   text-align: left;
   color: #444;
}

.carre2{
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: -20px;
    text-align: left;
    color: #444;
 }



.p1, .p2,.p3 {
    text-align: left;
}





.body{
    background-color: #303030;
    padding-bottom: 150px;
    padding-top: 100px;
    color:white;
}


.left{
    text-align: left;
    width: 600px;
    margin-left: 150px;
    margin-right: 150px;
}



.btn{
    font-size: 14px;
    font-weight: 700;
    padding: 10px 35px;
    border-radius: 30px;
    cursor: pointer;
    border: 0px;
    display: inline-block;
    background-color: #FFB400;
    color: white;
}

.btn:hover{
    background-color: red;
    color: white;
}

.footer{
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    text-align: center;
    background-color: #404040;
}
















































































































































