

.isole{
    display: inline;
    padding: 25px;
}

.nav{
    margin-left: 500px;
    padding-left: 5px;
}

.encart{
    background-color: white;
    color: black;
    margin-left: 800px;
    margin-right: 0px;
    margin-top: -400px;
    margin-bottom: 0px;
}

.h4 {
    font-size: 8em;
}

.footer{
margin-top: 300px;
margin-left: 500px;

}

.h3{
    margin-top: 0px;
}

