li a{
    color: white;
}

.col-4{
    background-color: blue;
    border: solid red;
    color: white;
}

.col-8{
    background-color: green;
    border: solid red;
    color: white;
}

.container{
    background-color: pink;
}

.col-6{
    background-color: purple;
}

.col-2{
    background-color: brown;
}

.row ,.col-4 ,.col-8, .col-6, .col-3, .col-5{
    border: black 2px solid;
}











